{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script"
    },
    "rules": {
        "semi": 2,
        "newline-after-var": "error",
        "newline-before-return": "error"
    }
}
